<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lim.mapper.DishMapper">
    <select id="pagingQuery" resultType="com.lim.pojo.Dish">
        select *
        from dish
        <where>
            <if test="_parameter != null">
                name like concat('%', #{name}, '%')
            </if>
        </where>
        order by sort
    </select>

    <update id="updateDish">
        update dish
        set name        = #{name},
            category_id = #{categoryId},
            price       = #{price},
            code        = '',
            image       = #{image},
            update_time = #{updateTime},
            update_user = #{updateUser}
        where id = #{id}
    </update>

</mapper>